/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* MAIN STUFF */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1c1f22;
  color: #f7f7f7;
  font-family: "Inter", sans-serif;
}

/* REUSABLE */

.flex-container {
  display: flex;
}

.grid-container {
  display: grid;
}

.watermark {
  font-family: "Cormorant Garamand", serif;
  color: rgba(18, 20, 22, 0.5);
  font-size: 220px;
  letter-spacing: -15px;
  line-height: 0.8;
  position: absolute;
  z-index: -3;
}

span {
  color: #fe938c;
}

/* JUMBOTRON */

.jumbotron {
  /* background-color: red; */
  background-color: #1c1f22;
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  height: 100vh;

  font-family: "Raleway", sans-serif;
  font-size: 62px;
  font-weight: 100;
  letter-spacing: -8px;
  text-transform: uppercase;

  /* margin-bottom: 64px; */
}

.jumbotron h1 {
  position: relative;
  z-index: 2;
  text-shadow: 0 10px 8px rgba(0, 0, 0, 0.3);
}

.titles {
  /* background-color: orange; */
  grid-column: 1/-1;
  grid-template-columns: 1fr;
  align-self: start;
  justify-self: start;
}

.name {
  /* background-color: yellow; */
  grid-column: 2/3;
  grid-template-columns: 1fr;
  justify-self: end;
  align-self: end;
}

.my-photo {
  position: absolute;
  align-self: center;
  justify-self: center;

  width: 65%;
  height: 40%;
  object-fit: cover;
  overflow: hidden;

  /* margin-left: 128px; */
}

.scroll-down {
  display: flex;
  grid-column: 1/2;
  grid-row: 2/3;
  align-self: end;
  justify-self: start;

  align-items: center;
  justify-content: flex-start;

  color: #fe938c;
  font-family: "Cormorant Garamond", serif;
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0px;

  margin: 10px;
}

.scroll-down h3 {
  /* background-color: red; */
  width: 200px;
}

.icon-scroll {
  height: 44px;
  width: 44px;
  stroke: #fe938c;
  margin-right: 8px;
}

/* NAVIGATION */

nav {
  position: sticky;
  align-items: center;
  justify-content: center;
  z-index: 5;

  top: 0px;

  height: 75px;

  background-color: rgba(28, 31, 34, 0.9);

  margin-bottom: 128px;
}

.nav-links {
  /* background-color: orange; */
  align-items: center;
  justify-content: space-between;

  width: 75%;
}

.site-logo {
  height: 50px;
  width: 50px;

  background-color: #f7f7f7;
}

.nav-links a:link {
  /* background-color: purple; */
  display: block;

  color: #f7f7f7;
  font-style: italic;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-links a:visited {
  color: #f7f7f7;
}

.nav-links a:hover {
  text-decoration: underline;
}

/* INTRODUCTION */

.info {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  /* height: 700px; */
  margin-bottom: 420px;
}

.watermark-about {
  top: -40px;
}

.article-intro {
  /* background-color: orange; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.article-intro p {
  font-size: 18px;
  font-weight: 400;
  padding: 8px 16px;
  margin-left: 100px;
  line-height: 2;
  width: 54%;
  border-left: 2px solid #f7f7f7;
}

/* PROJECTS */

.article-projects {
  /* background-color: yellow; */
  position: relative;
}

.grid-projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: start;
}

.watermark-projects {
  top: -150px;
  right: 40px;
}

.project {
  /* background-color: white; */
  position: relative;

  height: 250px;
  width: 500px;

  border-top: 3px solid #f7f7f7;
  margin-bottom: 100px;
  padding-top: 10px;
}

.project h3 {
  /* color: #fe938c; */
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.project p {
  font-size: 20px;
  line-height: 1.7;
  padding-right: 40px;
}

.see-more a:link {
  display: flex;
  justify-content: center;
  align-content: center;

  font-style: italic;
}

.icon-arrow-right {
  /* position: absolute;
  bottom: 5px;
  right: 5px; */

  height: 28px;
  width: 28px;

  stroke: #fe938c;
}

.see-more {
  position: absolute;
  bottom: 5px;
  right: 5px;

  justify-content: flex-end;

  border-bottom: 2px solid #1c1f22;
  padding: 4px 8px;

  letter-spacing: 1px;
}

.see-more p {
  /* background-color: aqua; */
  padding-right: 5px;

  font-size: 18px;
}

.see-more a:link {
  /* background-color: purple; */
  color: #fe938c;
  text-decoration: none;
  text-transform: uppercase;
}

.see-more a:visited {
  color: #fe938c;
}

.see-more:hover {
  /* background-color: #fe938c; */
  /* border: 2px solid #fe938c; */
  border-bottom: 2px solid #fe938c;
}

/* .see-more:hover p {
  color: #f7f7f7;
}

.see-more:hover .icon-arrow-right {
  stroke: #f7f7f7;
} */
